{% extends 'shop/base.html' %}
{% block title %}About us {% endblock %}
{% block style %}
<style>
    .uuu{
    margin : 5px 5px 5px 5px;
    }
</style>
{% endblock %}
{% block body %}
<p class="uuu">My Cart is an ecommerce solution that will completely automate your online business. Unlike the majority of shopping carts on the market, we have created a software that doesn't require you to have a bunch of third party apps in order to have automation, marketing and SEO tools for your online business.</p>
{% endblock %}